<!-- Create your form here -->
<form action="<%=students_path %>" method="post">
  <label>Student Form, First Name:</label><br>
  <input type="text" id="student_first_name" name="first_name"/>
<br>
  <label>Student Form, Last Name:</label><br>
  <input type="text" id="student_last_name" name="last_name"/>

  <input type="submit" value="Submit Student">
  </form>
